.popup {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;
}

.popup-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    margin-bottom: 10px;
}

.popup-input input:focus {
    border-color: #2d2d2d;
    box-shadow: none;
}

.toggle-show {
    display: flex;
    align-items: center;
    justify-content: left;
}

.toggle-show .toggle-label {
    margin-left: 15px;
}

.toggle-show .form-switch .form-check-input {
    margin-left: 0;
}

.toggle-show .form-check {
    margin: 0;
}

.toggle-show .form-switch {
    padding: 0;
}

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input:checked {
    border-color: #ced4da;
    background-color: rgba(253, 135, 135, 0.77);
}
